.ant-switch-inner .ant-switch {
   background-color: #ff4949!important;
}
.tool-wrapper{
    width: 100%;
    height: 36px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
    
    .autoCopy{ 
        display: flex;
        align-items: center;
        gap: 12px; 
    }
    
    .compress{
        display: flex;
        align-items: center;
    }
}
.utoCopy{
    padding: 10px;
    margin-right: 10px;
    .copyButton{
        margin-right: 10px;
    }
}